{% extends 'base_layout.html' %}
{% block content %}
{% load crispy_forms_tags %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    setTimeout(function(){
        $('#message').fadeOut('slow');
    }, 3000);
</script>
<!--https://bootsnipp.com/snippets/a6nml -->
    <h2 class="text-center" style="color: rgb(51, 25, 35);">Update Profile</h2>
<div class="container">
    <!-- Alerts -->
    {% include 'partials/_alerts.html' %}
    <form class="form-signin" action="{% url 'accounts:updateProfile' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6"
                style="background-color:rgb(241, 230, 230);border-radius: 25px;border: 2px solid rgb(243, 243, 243);">
                <br />
                <div class="row">
                    <div class="col-md-6">
                        {{userform.username | as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{userform.email | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{userform.first_name | as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{userform.last_name | as_crispy_field }}
                    </div>
                </div>
                {% if student %}
                <div class="row">
                    <div class="col-md-4">
                        {{studentform.s_student_city | as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{studentform.s_student_province | as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{studentform.s_student_country | as_crispy_field }}
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-lg btn-primary btn-block" style="background-color: rgb(66, 58, 61);color:white;border-radius: 25px;border: 2px solid rgb(247,
                            229, 229);" type="submit">Register</button>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>

    </form>
</div>
{% endblock %}