{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 800px;
        max-height: 800px;
        margin: inherit;
        text-align: center;
    }
    .title {
        color: rgb(32, 56, 77);
    }
</style>
<!--https://bootsnipp.com/snippets/a6nml -->
    <h1 class="text-center" style="color: rgb(6, 34, 58);">My Profile</h1>
<div class="container">
    <br /><br />
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-3" style="background-color:rgb(61, 79, 117);">
            <br />
            <img style="width: 100%;height: 100%;" src="{% static '/logo.png' %}" alt="Learn With Fun"><br />
        </div>
        <div class="col-md-5" style="background-color:rgb(241, 230, 230);">
            <h1 class="title text-center">{{user.first_name }}
                {{user.last_name }}</h1><br />
            <table class="table table-borderless" style="color: rgb(6, 34, 58);font-size: x-large;">
                <tr>
                    <td>
                        Email Address:
                    </td>
                    <td>
                        {{user.email }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Username:
                    </td>
                    <td>
                        {{user.username }}
                    </td>
                </tr>

                {% if student %}
                <tr>
                    <td>
                        Address:
                    </td>
                    <td>
                        {{student.s_student_city }}, {{student.s_student_province }},<br />
                        {{student.s_student_country }}
                    </td>
                </tr>
                {% endif %}
            </table>
        </div>
        <div class="col-md-2">
        </div>

    </div>
               


    {% endblock %}