{% extends 'base_layout.html' %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    setTimeout(function () {
        $('#message').fadeOut('slow');
    }, 3000);

    // Check the radio button value.
    function CheckIfSelected(valueobject, q) {
        console.log("The button is clicked or radio", valueobject);
        // var a = "{{ question.getansid }}";
        // console.log("tHE question.getansid is  ", a);
        console.log("The quiz id is ", q);
        document.getElementById('user_answer_'.concat(q)).value = valueobject;

        // store in database for this question and this user and this answer id
        // call api using httpxartti( answerdid, questiondi, userdd)
    }
</script>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'activity:subjects'%}">Home</a></li>
        <li class="breadcrumb-item"><a
                href="{% url 'activity:subjecttopics' subject.s_subject_id %}">{{ subject.s_subject_name}}</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{% url 'activity:topicssubtopics' topic.t_topic_id %}">{{ topic.t_topic_name}}</a>
        </li>
        <li class="breadcrumb-item"><a
                href="{% url 'activity:subtopic' subtopic.st_subtopic_id %}">{{ subtopic.st_subtopic_name}}</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">{{ quiz.q_quiz_name}} </li>
    </ol>
</nav>

<h1 class="h1 text-center" style="color: #1a5280;">{{ quiz.q_quiz_name }}</h1>
{% include 'partials/_alerts.html' %}
<form action="{% url 'activity:quiz' quizid=quiz.q_quiz_id %}" method="post" id="quiz">
    {% csrf_token %}
    <br />
    <ol>
        {% if questions %}
        {% for question in questions %}
        <li style="font-size:x-large;font-weight: 1300;color: darkblue;">
            {{ question.q_question_text }}
            <ol type="A">
                {% for answer in answers%}
                {% if answer.a_answer_question_id == question %}
                <li>
                    <div>
                        <input type="radio" id="{{ answer.a_answer_id }}" name="ans_{{ question.q_question_id  }}"
                            onchange="CheckIfSelected(this.id, '{{ question.q_question_id }}');" />
                        <label for="answer_{{ answer.a_answer_id }}">{{ answer.a_answer_text }}
                        </label>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
                <input type="text" id="user_answer_{{ question.q_question_id }}"
                    name="response_{{ question.q_question_id }}" value="" style="display: none;">
            </ol>
              <button type="button" onmouseover="this.innerHTML='{{ question.q_question_hint }}'"
                onmouseout="this.innerHTML='Hint'" class="btn btn-lg"
                style="color:rgb(0, 0, 0);background-color: #d6d6d6;border-color: #d6d6d6;width:100%;">
                Hint
            </button>
        </li>
        <br />
        {% endfor %}
    </ol>
    <div class="row" style="display: flex; justify-content: center;">
        <input type="submit" name="Submit" class='btn btn-lg'
            style="color:white;background-color: #1c5d88;border-color: #1a5280;">
    </div>
    {% else %}
    <br />
    <br />
    <br />
    <br />
    <p class="text-center display-4" style="color: #1a5280;">Quiz Questions Coming Soon...</p>
    {% endif %}

</form>
<br />
<br />

{% endblock %}


<!-- https://www.geeksforgeeks.org/jquery-effect-show-method/ -->