<br />
<br />
<style>
    .recurring {
    border-top: 1px solid black;
}
</style>

<p style="font-size:large">
    Numbers that we see in our everyday life can be classified into multiple types. 
</p>
<br/>
<p style="font-size:large">
    Some of the number types are <b>Whole Numbers</b>, <b>Natural Numbers</b>, <b>Integers</b>, <b>Rational Numbers</b>,
    <b>Irrational Numbers</b>, and  <b>Real Numbers</b>
</p>
<br />

<p style="font-size:large">
    Whole Numbers: A number that is not negative and does not have fractional part. 
    Examples : 0, 1, 2, 3, 4, 5, ...
</p>
<br />

<p style="font-size:large">
    Natural Numbers: Counting numbers are called natural numbers. It starts from 1 and above. 
    Examples : 1, 2, 3, 4, 5, ...
</p>
<br />
<br />

<p style="font-size:large">
    Integers: All whole numbers are including positive and negative numbers are Integers.
    Examples : ... , -3, -2, -1, 0, 1, 2, 3, ...
<br />
<br />
</p>
<p style="font-size:large">
    Rational Numbers: Numbers that can be expressed by fraction or ratio. It comprises of Natural Numbers, Whole Numbers, Integers together.   
    Examples : 3/4 also written as 0.75, 0.50 or 1/2, 1/3 which can be written as 0.&#x207B;3
<br />
<br />
</p>
<p style="font-size:large">
    Irrational Numbers: Numbers that cannot be converted to fractions because the decimal keeps going without repeating. 
    Examples : 3.14159265..., sqrt(2)
<br />
<br />
</p>
<p style="font-size:large">
    Real Numbers: All numbers that can be plotted on number line. It is a superset of Natural Numbers, Whole Numbers, Integers, Rational Numbers, and Irrational Numbers. (All of the above)
    Examples : 2, -11, 1.782, pi, 3.<span class="recurring">4</span>, &Sqrt;6, etc.
<br />
<br />
</p>
